# Proteus and STM32 template

# Proteus files
*.dsn
*.dsw
*.log
*.mdt
*.pdf
*.sch
*.vsm
*.pdsbak
*.ld
*.pdsprj.TRUONGHCMUT.truon.workspace

# STM32 files
# Object files
*.o
*.ko
*.obj
*.elf
*.mxproject
*.hex.asm
*.list
*.mk 

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64


# Misc
*.map
*.m
# *.png

# Eclipse CDT project files
.cproject
.project
.settings/

# Vagrant directory
.vagrant/

# Include makefiles
!Makefile
*~

# Libraries
/lib